.note_card_main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.note_card {
  position: relative;
  width: 340px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  padding: 20px;
  margin: 20px;
  transition: 1s all ease-in;
  transform: translate(x);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 5px solid #0b3561;
}

.note_card:hover{
  transition:2s all ease-out;
}
.note_card{
  transition: 2s all ease-in-out;
}

.note_card:hover{
transform: scaleX(1.1);
}

.note_card_title {
  margin: 20px 0px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
}
.note_card_desc {
  font-size: 14px;
  color: rgb(39, 36, 36);
  font-weight: 400;
}
.note_card_tag {
  font-size: 13px;
  font-weight: 600;
  margin-top: 20px;
}
.read_all {
  position: absolute;
  top: -10px;
  right: 0px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 10px;
  border-radius: 10px;
  padding: 1px 20px;
}
.public_public {
  position: absolute;
  right: -10px;
  background-color: rgb(12, 50, 17);
  color: white;
  cursor: pointer;
  font-size: 10px;
  border-radius: 10px;
  padding: 1px 15px;
  width: 60px;
  top: -12px;
  left: 10px;
}
